.banner-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.banner-button{
    padding: 20px;
    border: 2px solid rgb(91, 139, 179);
    border-radius: 35px;
    background-color: rgba(245, 245, 245, 0);
    transition: 0.3s;
}

.banner-button:hover{
    background-color: rgb(91, 139, 179);
    color: white;
}

.slogan-span{
    margin: 5px;
}

.slogan{
    margin-top: 20px;
}

/* responsive */
@media only screen and (max-width: 688px){
    .banner-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .banner-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
