.banner{
    height: 600px;
    background-image: url("https://media.wsimag.com/attachments/125336b5e4550c7272548459e2cb11deffc651d7/store/fill/1090/613/74c18c18b4ce87f50cb4f07f1efbbfcde59894f24341044669b7a10bbb4f/Sunrise-at-Sajek-Valley.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.banner-button{
    padding: 20px;
    border: 2px solid #0bcfce;
    border-radius: 35px;
    background-color: rgba(245, 245, 245, 0);
    transition: 0.3s;
}

.banner-button:hover{
    background-color: #0bcfce;
}

/* responsive */
@media only screen and (max-width: 688px){
    .banner-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .banner-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
